<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
<body>
  <form action="/madlib">
    <div>
      <p>Please select something for the following topics below:</p>
    </div>

    <div>
      <p>Color: </p>
      <input type="radio" name="color" value="magenta">
      <label>Magenta</label>
      <input type="radio" name="color" value="black">
      <label>Black</label>
      <input type="radio" name="color" value="green">
      <label>Green</label>
    </div>

    <div>
      <p>Noun: </p>
      <select name="noun">
      <option value="unicorn">Unicorn</option>
      <option value="puppy">Puppy</option>
      <option value="kitten">Kitten</option>
      </select>
    </div>

    <div>
      <p>Person's Name: <input type="text" name="person"></p>
    </div>

    <div>
      <p>Adjective: <input type="text" name="adjective"></p>
    </div>

      <p><input type="submit" name="submit"></p>
  </form>
</body>
</html> 