<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
<body>
  <form action="/madlib">
    <div>
      Color:
      <input type="radio" name="color" value="magenta">
      <label>Magenta</label>
      <input type="radio" name="shipping" value="black">
      <label>Black</label>
      <input type="radio" name="shipping" value="green">
      <label>Green</label>
    </div>

    <div>
    Noun:<input type="text" name="noun">
    </div>


    Person:<input type="text" name="person">



    Adjective:<input type="text" name="adjective">


    
    <input type="submit" name="submit">
  </form>
</body>
</html> 